<div class="p-4">
  <h2 class="text-xl font-bold mb-4">Enquiries</h2>

  <!-- <input
    type="text"
    placeholder="Search enquiries..."
    [(ngModel)]="searchQuery"
    (input)="onSearch()"
    class="border p-2 w-full mb-4"
  /> -->

  <table class="w-full border">
    <thead class="bg-gray-200">
      <tr>
        <th class="p-2 text-left">Org Name</th>
        <th class="p-2 text-left">Email</th>
        <th class="p-2 text-left">Phone</th>
        <th class="p-2 text-left">City</th>
        <th class="p-2 text-left">Service</th>
        <th class="p-2 text-left">Tech Stack</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let enquiry of filteredEnquirys">
        <td class="p-2">{{ enquiry.orgName }}</td>
        <td class="p-2">{{ enquiry.email }}</td>
        <td class="p-2">{{ enquiry.phone }}</td>
        <td class="p-2">{{ enquiry.city }}</td>
        <td class="p-2">{{ enquiry.service }}</td>
        <td class="p-2">{{ enquiry.reqTechStack.join(', ') }}</td>
      </tr>
    </tbody>
  </table>
</div>
